<app-navbar></app-navbar>
<div class="container">
	
	<div class="title">
        <h4>Listado de Productos</h4>
        <button type="button" class="btn btn-primary" routerLink="/add">Agregar Producto</button>
    </div>

<table  *ngIf="listProduct.length >0 "class="table table-hover">
	<thead>
	  <tr>
		<th scope="col">Type</th>
		<th scope="col">Nombre</th>
		<th scope="col">Descripción</th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let item of listProduct" class="table-dark">
		<th scope="row">Dark</th>
		<td>{{item.name}}</td>
		<td>{{item.description}}</td>
		<td>
			<button type="button" class="btn btn-info btn-sm" routerLink="/edit/{{ item.id }}">Editar</button>
			<button type="button" class="btn btn-secondary btn-sm ms-2" (click)="deleteProduct(item.id!)">Eliminar</button>

		</td>
		
	  </tr>
	</tbody>
  </table>
  <h5 *ngIf="listProduct.length == 0">No hay pruductos por mostrar</h5>
</div>


 